In [22]:
import cudf as pd

In [23]:
df1 = pd.read_csv("./Daily Shares  ETFs 2023 (1).csv")
print(df1.head)

<bound method Frame.head of        Daily Date Share Code Year High (GH¢) Year Low (GH¢)  \
0      31/12/2009       AADS            0.35           0.30
1      31/12/2009        ABL            0.12           0.10
2      31/12/2009        ACI            0.10           0.10
3      31/12/2009        AGA           30.00          30.00
4      31/12/2009        ALW            0.61           0.44
...           ...        ...             ...            ...
22338  25/06/2007        SWL            0.03           0.03
22339  25/06/2007        TBL            1.33           1.33
22340  25/06/2007      TOTAL            5.46           5.40
22341  25/06/2007    TRANSOL            0.12           0.10
22342  25/06/2007       UNIL            1.90           1.50

      Previous Closing Price - VWAP (GH¢) Opening Price (GH¢)  \
0                                    0.30                0.31
1                                    0.10                0.10
2                                    0.10                0.10
3                                   30.00               30.00
4                                    0.44                0.44
...                                   ...                 ...
22338                                0.03                0.03
22339                                1.33                1.33
22340                                5.46                5.46
22341                                0.12                0.12
22342                                1.90                1.90

      Last Transaction Price (GH¢) Closing Price - VWAP (GH¢)  \
0                             0.00                       0.30
1                             0.00                       0.10
2                             0.00                       0.10
3                             0.00                      30.00
4                             0.00                       0.44
...                            ...                        ...
22338                         0.00                       0.03
22339                         0.00                       1.33
22340                         0.00                       5.46
22341                         0.00                       0.12
22342                         0.00                       1.90

      Price Change (GH¢) Closing Bid Price (GH¢) Closing Offer Price (GH¢)  \
0                      0                    0.00                      0.00
1                      0                    <NA>                      <NA>
2                      0                    <NA>                      <NA>
3                      0                    <NA>                      <NA>
4                      0                    <NA>                      0.44
...                  ...                     ...                       ...
22338                  0                    <NA>                      <NA>
22339                  0                    <NA>                      <NA>
22340                  0                    5.45                      0.00
22341                  0                    <NA>                      <NA>
22342                  0                    <NA>                      <NA>

      Total Shares Traded Total Value Traded (GH¢)
0                    0.00                     <NA>
1                    0.00                     <NA>
2                    0.00                     <NA>
3                    0.00                     <NA>
4                    0.00                     <NA>
...                   ...                      ...
22338                0.00                     <NA>
22339                0.00                     <NA>
22340                0.00                     <NA>
22341                0.00                     <NA>
22342            1,200.00                     <NA>

[22343 rows x 13 columns]>

In [24]:
df2 = pd.read_csv("./Daily Shares  ETFs 2023 (2).csv")
df3 = pd.read_csv("./Daily Shares  ETFs 2023 (3).csv")
df4 = pd.read_csv("./Daily Shares  ETFs 2023 (4).csv")
df5 = pd.read_csv("./Daily Shares  ETFs 2023.csv")

In [25]:
print(df1.columns)

Index(['Daily Date', 'Share Code', 'Year High (GH¢)', 'Year Low (GH¢)',
       'Previous Closing Price - VWAP (GH¢)', 'Opening Price (GH¢)',
       'Last Transaction Price (GH¢)', 'Closing Price - VWAP (GH¢)',
       'Price Change (GH¢)', 'Closing Bid Price (GH¢)',
       'Closing Offer Price (GH¢)', 'Total Shares Traded',
       'Total Value Traded (GH¢)'],
      dtype='object')

In [26]:
print(df2.columns)
print(df3.columns)
print(df4.columns)
print(df5.columns)

Index(['Daily Date', 'Share Code', 'Year High (GH¢)', 'Year Low (GH¢)',
       'Previous Closing Price - VWAP (GH¢)', 'Opening Price (GH¢)',
       'Last Transaction Price (GH¢)', 'Closing Price - VWAP (GH¢)',
       'Price Change (GH¢)', 'Closing Bid Price (GH¢)',
       'Closing Offer Price (GH¢)', 'Total Shares Traded',
       'Total Value Traded (GH¢)'],
      dtype='object')
Index(['Daily Date', 'Share Code', 'Year High (GH¢)', 'Year Low (GH¢)',
       'Previous Closing Price - VWAP (GH¢)', 'Opening Price (GH¢)',
       'Last Transaction Price (GH¢)', 'Closing Price - VWAP (GH¢)',
       'Price Change (GH¢)', 'Closing Bid Price (GH¢)',
       'Closing Offer Price (GH¢)', 'Total Shares Traded',
       'Total Value Traded (GH¢)'],
      dtype='object')
Index(['Daily Date', 'Share Code', 'Year High (GH¢)', 'Year Low (GH¢)',
       'Previous Closing Price - VWAP (GH¢)', 'Opening Price (GH¢)',
       'Last Transaction Price (GH¢)', 'Closing Price - VWAP (GH¢)',
       'Price Change (GH¢)', 'Closing Bid Price (GH¢)',
       'Closing Offer Price (GH¢)', 'Total Shares Traded',
       'Total Value Traded (GH¢)'],
      dtype='object')
Index(['Daily Date', 'Share Code', 'Year High (GH¢)', 'Year Low (GH¢)',
       'Previous Closing Price - VWAP (GH¢)', 'Opening Price (GH¢)',
       'Last Transaction Price (GH¢)', 'Closing Price - VWAP (GH¢)',
       'Price Change (GH¢)', 'Closing Bid Price (GH¢)',
       'Closing Offer Price (GH¢)', 'Total Shares Traded',
       'Total Value Traded (GH¢)'],
      dtype='object')

In [27]:
pd.concat?

Signature: pd.concat(objs, axis=0, join='outer', ignore_index=False, sort=None)
Docstring:
Concatenate DataFrames, Series, or Indices row-wise.

Parameters
----------
objs : list of DataFrame, Series, or Index
axis : {0/'index', 1/'columns'}, default 0
    The axis to concatenate along.
join : {'inner', 'outer'}, default 'outer'
    How to handle indexes on other axis (or axes).
ignore_index : bool, default False
    Set True to ignore the index of the *objs* and provide a
    default range index instead.
sort : bool, default False
    Sort non-concatenation axis if it is not already aligned.

Returns
-------
A new object of like type with rows from each object in ``objs``.

Examples
--------
Combine two ``Series``.

>>> import cudf
>>> s1 = cudf.Series(['a', 'b'])
>>> s2 = cudf.Series(['c', 'd'])
>>> s1
0    a
1    b
dtype: object
>>> s2
0    c
1    d
dtype: object
>>> cudf.concat([s1, s2])
0    a
1    b
0    c
1    d
dtype: object

Clear the existing index and reset it in the
result by setting the ``ignore_index`` option to ``True``.

>>> cudf.concat([s1, s2], ignore_index=True)
0    a
1    b
2    c
3    d
dtype: object

Combine two DataFrame objects with identical columns.

>>> df1 = cudf.DataFrame([['a', 1], ['b', 2]],
...                    columns=['letter', 'number'])
>>> df1
  letter  number
0      a       1
1      b       2
>>> df2 = cudf.DataFrame([['c', 3], ['d', 4]],
...                    columns=['letter', 'number'])
>>> df2
  letter  number
0      c       3
1      d       4
>>> cudf.concat([df1, df2])
  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

Combine DataFrame objects with overlapping columns and return
everything. Columns outside the intersection will
be filled with ``null`` values.

>>> df3 = cudf.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
...                    columns=['letter', 'number', 'animal'])
>>> df3
  letter  number animal
0      c       3    cat
1      d       4    dog
>>> cudf.concat([df1, df3], sort=False)
  letter  number animal
0      a       1   <NA>
1      b       2   <NA>
0      c       3    cat
1      d       4    dog

Combine ``DataFrame`` objects with overlapping columns
and return only those that are shared by passing ``inner`` to
the ``join`` keyword argument.

>>> cudf.concat([df1, df3], join="inner")
  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

Combine ``DataFrame`` objects horizontally along the
x axis by passing in ``axis=1``.

>>> df4 = cudf.DataFrame([['bird', 'polly'], ['monkey', 'george']],
...                    columns=['animal', 'name'])
>>> df4
   animal    name
0    bird   polly
1  monkey  george
>>> cudf.concat([df1, df4], axis=1)
  letter  number  animal    name
0      a       1    bird   polly
1      b       2  monkey  george
File:      ~/anaconda3/envs/rapids-23.04/lib/python3.10/site-packages/cudf/core/reshape.py
Type:      function

In [28]:
combine_df=pd.concat([df1, df2, df3, df4, df5],ignore_index=True)
combine_df.describe()

/home/kwodwo/anaconda3/envs/rapids-23.04/lib/python3.10/site-packages/cudf/core/dataframe.py:4953: FutureWarning: `datetime_is_numeric` is deprecated. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  warnings.warn(
/home/kwodwo/anaconda3/envs/rapids-23.04/lib/python3.10/site-packages/cudf/core/series.py:3120: FutureWarning: `datetime_is_numeric` is deprecated and will be removed in a future release. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  warnings.warn(

,Daily Date,Share Code,Year High (GH¢),Year Low (GH¢),Previous Closing Price - VWAP (GH¢),Opening Price (GH¢),Last Transaction Price (GH¢),Closing Price - VWAP (GH¢),Price Change (GH¢),Closing Bid Price (GH¢),Closing Offer Price (GH¢),Total Shares Traded,Total Value Traded (GH¢)
count,150865,150862,150335,150306,150373,150381,150735,150371,150255,62321,82240,149642,42607
unique,3865,83,1276,753,2105,2076,1851,2107,556,1873,1765,6348,6959
top,17/10/2008,AGA,0.03,0.03,0.03,0.03,0.00,0.03,0,0.00,0.05,0.00,0.00
freq,108,3880,7338,7750,6963,6951,31257,6979,134425,7223,3426,104166,32040

In [29]:
combine_df.head()

,Daily Date,Share Code,Year High (GH¢),Year Low (GH¢),Previous Closing Price - VWAP (GH¢),Opening Price (GH¢),Last Transaction Price (GH¢),Closing Price - VWAP (GH¢),Price Change (GH¢),Closing Bid Price (GH¢),Closing Offer Price (GH¢),Total Shares Traded,Total Value Traded (GH¢)
0,31/12/2009,AADS,0.35,0.30,0.30,0.31,0.00,0.30,0,0.00,0.00,0.00,<NA>
1,31/12/2009,ABL,0.12,0.10,0.10,0.10,0.00,0.10,0,<NA>,<NA>,0.00,<NA>
2,31/12/2009,ACI,0.10,0.10,0.10,0.10,0.00,0.10,0,<NA>,<NA>,0.00,<NA>
3,31/12/2009,AGA,30.00,30.00,30.00,30.00,0.00,30.00,0,<NA>,<NA>,0.00,<NA>
4,31/12/2009,ALW,0.61,0.44,0.44,0.44,0.00,0.44,0,<NA>,0.44,0.00,<NA>

In [30]:
pd.to_datetime(combine_df["Daily Date"])

0        2009-12-31
1        2009-12-31
2        2009-12-31
3        2009-12-31
4        2009-12-31
            ...
150860   2023-03-31
150861   2023-03-31
150862   2023-03-31
150863   2023-03-31
150864   2023-03-31
Name: Daily Date, Length: 150865, dtype: datetime64[ns]

In [31]:
combine_df.columns

Index(['Daily Date', 'Share Code', 'Year High (GH¢)', 'Year Low (GH¢)',
       'Previous Closing Price - VWAP (GH¢)', 'Opening Price (GH¢)',
       'Last Transaction Price (GH¢)', 'Closing Price - VWAP (GH¢)',
       'Price Change (GH¢)', 'Closing Bid Price (GH¢)',
       'Closing Offer Price (GH¢)', 'Total Shares Traded',
       'Total Value Traded (GH¢)'],
      dtype='object')

In [32]:
print (combine_df["Daily Date"].min())
print (combine_df["Daily Date"].max())

01/02/2008
31/12/2021

In [33]:
combine_df.tail()

,Daily Date,Share Code,Year High (GH¢),Year Low (GH¢),Previous Closing Price - VWAP (GH¢),Opening Price (GH¢),Last Transaction Price (GH¢),Closing Price - VWAP (GH¢),Price Change (GH¢),Closing Bid Price (GH¢),Closing Offer Price (GH¢),Total Shares Traded,Total Value Traded (GH¢)
150860,31/03/2023,PBC,0.02,0.02,0.02,0.02,0.02,0.02,0.00,0.00,0.02,"1,050.00",21.00
150861,31/03/2023,RBGH,0.54,0.54,0.54,0.54,0.54,0.54,0.00,0.00,0.52,11.00,5.72
150862,31/03/2023,SCB,20.16,17.10,17.10,17.10,17.10,17.10,0.00,15.40,0.00,0.00,0.00
150863,31/03/2023,SIC,0.31,0.31,0.31,0.31,0.31,0.31,0.00,0.00,0.28,426.00,119.28
150864,31/03/2023,SOGEGH,1.00,0.62,0.62,0.62,0.62,0.62,0.00,0.00,0.66,0.00,0.00

In [34]:
combine_df.to_csv('./stockpricedata.csv')

In [35]:
combine_df["Share Code"].unique()

0        <NA>
1        AADS
2         ABG
3         ABL
4      ACCESS
       ...
78    TRANSOL
79       UNIL
80         UT
81        UTB
82        UTF
Name: Share Code, Length: 83, dtype: object

In [36]:
len(combine_df["Share Code"].unique())

83

In [37]:
combine_df["Daily Date"].index.is_unique

True

In [38]:
type(combine_df["Daily Date"])

cudf.core.series.Series

In [39]:
combine_df["Daily Date"].max()

'31/12/2021'